old
build
firmware.elf
firmware.hex
firmware.map
firmware.dump
firmware.dfu
firmware.nm
sp
space*.py
dump*
*.dfu
*.zdf
zdf.txt
*.cpp?
*.cpp.?
*.gprof
gmon.out
diff*
.cproject
.project
.settings
firmware.sublime-*
.RData
.RHistory
.vscode/.cortex*.state.json
.vscode/settings.json
doxygen
sourcetail
